@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.article {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-column: 2;
    text-align: left;
    margin-top: 20px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    grid-column: 2;
    text-align: center;
    margin-top: 20px;
}